#row {
    display: flex;
    gap: 10px;
    border-radius: 10%;
    justify-content: center;
    text-align: center;
  }
  
  /* Create three equal columns that sits next to each other */
  #column {
    flex: 33.33%;
    padding: 5px;
  }
  #image{
    border-radius: 50%;
    width: 60%; 
    margin-left: 40px;
    margin-top: 30px;
  }